---
---

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #35373f;
$header-bg-color: #531599;
$header-bg-color-secondary: #cf5605;

// Text
$section-headings-color: #cf5605;
$body-text-color: #f3f6fa;
$body-link-color: #8ca2c5;
$blockquote-text-color: #cfd8e1;

// Code
$code-bg-color: #567482;
$code-text-color: #f3f6fa;

// Borders
$border-color: #45565e;
$table-border-color: #3f4e54;
$hr-border-color: #38444c;

@import "{{ site.theme }}";