@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: #252322;
}

nav{
 background-color: #0F0F0F;
 display:inline-flex;
  justify-content:space-between;
  width:100%;
  align-items: center;
}

nav * {
  vertical-align: middle;
  line-height: normal;
}

h1{
  color:white;
  font-family: 'Bebas Neue', cursive;
}

input{
  width:180px;
  height:40px;
  border-radius:30Px;
}
